<%- include('partials/head') %>
    <%- include('partials/navbar') %>

        <body>
            <h1>Recipes</h1>
            <form action="http://localhost:3000/main/add" method="post" id="recipeForm">
                <button type="submit" class="btn btn-secondary" id="addingButton">Press to add a
                    recipe!</button>
            </form>

            <%- include('partials/scripts') %>
                <script>

                </script>

        </body>

        </html>